@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. */

@layer base {
  :root {
    --background: 250 15% 10%;
    --foreground: 245 33% 98%;

    --card: 245 33% 12%;
    --card-foreground: 245 33% 98%;

    --popover: 250 15% 10%;
    --popover-foreground: 245 33% 98%;

    --primary: 259 96% 64%;
    --primary-foreground: 245 33% 98%;

    --secondary: 17 73% 57%;
    --secondary-foreground: 20 90% 98%;

    --accent: 190 67% 56%;
    --accent-foreground: 244 37% 18%;

    --success: 156 73% 52%;

    --border: 248 13% 78%;
    --input: 249 14% 91%;
    --ring: 263 26% 65%;

    --radius: 0.95rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 245 21% 9%;
    --foreground: 235 44% 95%;

    --card: 245 21% 14%;
    --card-foreground: 235 44% 95%;

    --popover: 245 21% 9%;
    --popover-foreground: 235 44% 95%;

    --primary: 259 96% 64%;
    --primary-foreground: 245 33% 98%;

    --secondary: 17 73% 57%;
    --secondary-foreground: 20 90% 98%;

    --accent: 190 67% 56%;
    --accent-foreground: 244 37% 18%;

    --success: 156 73% 52%;

    --border: 248 13% 49%;
    --input: 249 10% 25%;
    --ring: 263 26% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
